# ============================================
# ROOT
# ============================================
/.fleet
/.idea
/.nova
/.vscode
/.zed
.DS_Store
Thumbs.db

# ============================================
# BACKEND (Laravel)
# ============================================
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/vendor
/backend/node_modules
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/pail
/backend/bootstrap/cache/config.php
/backend/bootstrap/cache/packages.php
/backend/bootstrap/cache/services.php
/backend/.phpunit.cache
.phpunit.result.cache
.phpactor.json
Homestead.json
Homestead.yaml
/auth.json

# ============================================
# FRONTEND (Vite)
# ============================================
/frontend/node_modules
/frontend/dist
npm-debug.log
yarn-error.log
